@import './common';
@import './example';


img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: fill;
    
}
.image-thumb{
    width: 450px;
}
.breed-select{
    margin: 10px;
}

.loader-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.error{
    font-size: 24px;
    font-weight: bold;
    color: tomato;
}
.cat-info{
    display: flex;
    gap:15px;
    margin-left: 10px;
}
.cat-description{
    width: 700px;
}
.cat-description p {
    font-size: 24px;
}